<%- include("partials/header"); -%>
    <h1>Calorie App</h1>
    <div class="form-signin">

    <form  action="/calculateTDEE" method="post">

<div class="input">


          <input  type="text" class="top form-control   " aria-label="Large" id="form1" name="name" placeholder="Enter your name" autocomplete="off" required>


      <input  type="number" class="middle form-control " id="form2" name="weight" placeholder="Enter your body weight in Kg" autocomplete="off" required>

\
      <input  type="number" class="middle1 form-control " id="form3" name="bodyFat" placeholder="Enter your body fat in %" autocomplete="off" required>


      <select name="activityLevel" class="bottom form-control " id="activity level" placeholder="Choose your activity level" required>
      <option value="">Choose your activity level</option>
      <option value="1.2">sedetary-1.2</option>
      <option value=1.375>lightlyActive-1.375</option>
      <option value=1.55>moderatelyActive-1.55</option>
      <option value=1.725>veryActive-1.725</option>
      <option value=1.9>extraActive-1.9</option>
    </select>

</div>


  <div class="homebutton">
        <button  class="w-100 btn btn-lg  dark"  type="submit"  name="button">calculateTDEE</button>
        <p class="footer">copyrights reserved © </p>
    </div>

    </form>

  </div>

<%- include("partials/footer"); -%>
