<%- include("partials/header"); -%>
    <h1>Calculate TDEE</h1>
    <form class="" action="/calculateTDEE" method="post">
      <div class="input">
        <label>Name</label>
        <input  type="text"  name="name" placeholder="Enter your name" autocomplete="off" required>
        <label>Weight</label>
        <input  type="number"  name="weight" placeholder="Enter your body weight in Kg" autocomplete="off" required>
        <label>Body fat</label>
        <input  type="number" name="bodyFat" placeholder="Enter your body fat in %" autocomplete="off" required>
        <label> Activity level</label>
        <select name="activityLevel" id="activity level" placeholder="Choose your activity level" required>
        <option value="">None</option>
        <option value="1.2">1.2</option>
        <option value=1.375>1.375</option>
        <option value=1.55>1.55</option>
        <option value=1.725>1.725</option>
        <option value=1.9>1.9</option>
      </select>
      </div>
  <div class="homebutton">
        <button  type="submit" class="btn btn-outline-dark btn-lg" name="button">submit</button>
    </div>

    </form>

<%- include("partials/footer"); -%>
